<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Mailed - Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename = 'img/bot_avatar.jpg') }}" alt="Аватар бота" class="bot-avatar">
            <div>
                <h1>E-Mailed</h1>
                <p>Ваш почтовый помощник в Telegram</p>
            </div>
        </div>
    </header>

    <section class="features">
        <div class="feature">
            <h2>📨 Получение писем прямо в Telegram</h2>
            <p>Больше не нужно проверять почту вручную. Получайте письма мгновенно в Telegram.</p>
        </div>
        <div class="feature">
            <h2>🤖 Быстрый пересказ письма от нейросети</h2>
            <p>Нейросеть быстро перескажет содержание письма, чтобы вы могли понять суть без чтения всего текста.</p>
        </div>
        <div class="feature">
            <h2>📱 Просмотр писем в Telegram Mini Apps</h2>
            <p>Просматривайте письма прямо в Telegram без необходимости открывать почтовый клиент.</p>
        </div>
        <div class="feature">
            <h2>📬 Почтовый ящик для нескольких адресов сразу</h2>
            <p>Управляйте несколькими почтовыми ящиками одновременно в одном месте.</p>
        </div>
        <div class="feature">
            <h2>🛡 Защита от спама</h2>
            <p>Нейросеть анализирует каждое письмо и определяет вероятность спама.</p>
        </div>
        <div class="feature">
            <h2>🏴 Чёрный список отправителей</h2>
            <p>Добавляйте нежелательных отправителей в чёрный список, чтобы больше не получать их письма.</p>
        </div>
        <div class="feature">
            <h2>🔓Открытый исходный код</h2>
            <p>Вы можете лично убедиться в безопасности кода, проверить его на наличие уязвимостей или предложить свои улучшения.</p>
        </div>
        
    </section>

    <footer>
        <a href="https://t.me/e_mailed_bot" class="start-button">Начать пользоваться</a>
    </footer>

    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
</body>
</html>
